.sidebar {
  background: var(--gray-800);
  border-radius: 8px;
  /* 
    Vai fazer com que elementos só ocupem o tamanho do container que eles estão
    Esconde todo overflow, esconde tudo do que o conteúdo do elemento sai do tamanho do
    container
  */
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 72px;
  /* 
    Se não colocarmos isso, vai distorcer a imagem. Vai comprimir a imagem para caber no
    tamanho do espaço que informamos.
    Com o object-fit: cover, ele não vai distorcer a imagem. Ele vai cortar pedaços da imagem
    e não vai distorcer, vai mostrar o centro da imagem e o resto ele "corta", vamos dizer assim,
    não mostra
  */
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 
    Esse cálculo é a metade do tamanho da imagem (3rem) e a 
		metade da soma da bordas (12px)
    E o 0 é para ele começar a calcular do início e reduzir
		fazendo com que suba o elemento.
  */
  margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.profile span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);

  margin-top: 1.5rem;

  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  height: 50px;

  background: transparent;
  color: var(--green-500);
  
  border: 1px solid var(--green-500);
  border-radius: 8px;

  padding: 0 1.5rem;
  
  font-size: 0.900rem;
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  /* 
    Para fazer uma transição mais suave no :hover
  */
  transition: color 0.1s, background-color 0.1s;
}

.sidebar footer a:hover {
  background: var(--green-500);
  color: var(--white);
}