.wrapper {
  max-width: 70rem;
  
  margin: 2rem auto;

  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem; /* espaçamento entre as colunas */

  /* 
    Faz com que a sidebar e a div que contém os posts sempre fiquem alinhados para o topo.
    Senão o padrão é tentar esticar os dois para que eles tenham o mesmo tamanho
  */
  align-items: flex-start;
}